// fz 30
@mixin fz-reg($prop) {
    font-size: $prop;
    line-height: $prop;
}

@mixin fz-bold($prop) {
    @include fz-reg($prop);
    font-weight: bold;
}

@mixin fz-bold-upper($prop) {
    @include fz-reg($prop);
    font-weight: bold;
    text-transform: uppercase;
}

@mixin fz-reg-under-line($prop) {
    @include fz-reg($prop);
    font-weight: bold;
    text-decoration: underline;
}

@mixin fz-reg-upper-underLine($prop) {
    @include fz-reg($prop);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

// fz 20

@mixin fz20reg {
    font-size: 20px;
    line-height: 26px;
}

@mixin fz20bold {
    @include fz20reg;
    font-weight: bold;
}

@mixin fz20boldUpper {
    @include fz20reg;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin fz20boldUpperBold {
    @include fz20reg;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

@mixin fz20regUnderLine {
    @include fz20reg;
    font-weight: bold;
    text-decoration: underline;
}

@mixin fz20regUpperUnderLine {
    @include fz20reg;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

// styles 
@mixin castom-container {
    margin: auto;
    width: 95%;
    max-width: 1660px;
}