// fz 30
@mixin fz30-reg {
    font-size: 30px;
    line-height: 39px;
}

@mixin fz30bold {
    @include fz30reg;
    font-weight: bold;
}

@mixin fz30bold-upper {
    @include fz30-reg;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin fz30boldUpperBold {
    @include fz30reg;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

@mixin fz30regUnderLine {
    @include fz30reg;
    font-weight: bold;
    text-decoration: underline;
}

@mixin fz30regUpperUnderLine {
    @include fz30reg;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

// fz 20

@mixin fz20reg {
    font-size: 20px;
    line-height: 26px;
}

@mixin fz20bold {
    @include fz20reg;
    font-weight: bold;
}

@mixin fz20boldUpper {
    @include fz20reg;
    font-weight: bold;
    text-transform: uppercase;
}

@mixin fz20boldUpperBold {
    @include fz20reg;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

@mixin fz20regUnderLine {
    @include fz20reg;
    font-weight: bold;
    text-decoration: underline;
}

@mixin fz20regUpperUnderLine {
    @include fz20reg;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}