.object {
  position: relative;
  &__title {
    @include fz-bold(30px);
    color: $main;
    margin-bottom: 20px;
  }
  &__subtitle {
    @include fz-reg(30px);
    margin-bottom: 20px;
  }
  &__head {
    display: flex;
  }
  &__slider {
    border-radius: 20px;
    overflow: hidden;
    max-height: 700px;
    &_big {
      width: 100%;
      height: 60%;
      max-height: 580px;
      overflow: hidden;
      &__item {
        display: flex !important;
      }
    }
  }
}

.object__slider_big .slick-current > div > div > img {
  width: 100%;
}

/**
  @characters
*/
.characters {
  &__title {
    @include fz-bold(30px);
    margin-bottom: 18px;
    margin-top: 42px;
  }
  &__item {
    padding-bottom: 20px;
  }
  &__item:first-child {
    padding-bottom: 20px;
  }
  &__table {
    width: 80%;
    & * {
      text-align: left;
    }
  }
  &__table:nth-child(2) {
    margin-bottom: 40px;
  }
}
/**
  @preview
*/
.preview {
  margin-bottom: 60px;
  &__title {
    @include fz-bold(30px);
    margin-bottom: 30px;
  }
  &__text {
    @include fz-reg(20px);
    line-height: 26px;
  }
}
/**
  @recent
*/
.recent {
  margin-bottom: 50px;
  &__title {
    @include fz-bold(30px);
    margin-bottom: 20px;
  }
  & .card {
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  }
  & .slick-list {
    margin-left: -10px;
    margin-right: -10px;
  }
}
/**
  @contacts
*/
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  &__wrap {
    position: absolute;
    top: 96px;
    right: 0;
    margin-right: 10%;
  }
  &__block  {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    width: 100%;
    margin-bottom: 30px;
  }
  &__img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    width: 100px;
    min-width: 100px;
    height: 100px;
  }
  &__data {
    padding: 10px 0;
  }
  &__name {
    @include fz-reg(20px);
  }
  &__tel {
    @include fz-reg(20px);
    & a {
      color: #000;
    }
  }
  &__footer {
    text-align: center !important;
    & .callback__block__subtitle {
      margin-bottom: 20px;
      display: inline-block;
    }
  }
}
.map {
  margin-top: 24px;
  & img {
    width: 100%;
  }
}

.object__slider__top {
  position: relative;
}
  .prew-btn {
    position: absolute;
    background-image: url(#{$url}arr-r.svg);
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto;
    z-index: 1;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
  .next-btn {
    position: absolute;
    background-image: url(#{$url}arr-r.svg);
    top: 0;
    bottom: 0;
    left: 20px;
    margin: auto;
    z-index: 1;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    cursor: pointer;
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }